.messages {
    flex: 1;
    background-color: #dcdcdc;
    overflow-y: auto;
  }
  
  .message {
    margin: 1.2em;
    text-align: left;
    
    &-author {
      
    }
    
    &-content {
      background-color: #efefef;
      display: inline-block;
      margin: 10px;
      border: 1px solid #cdcdcd;
      padding: 15px;
      border-radius: 10px;
      
    }
    
  }
  .message-other {
    text-align: right;
  }